<div class="card bg-dark border border-0 rounded-3 shadow-sm text-white-50 h-100 ">

	<div class="card-header d-flex justify-content-between py-3">
		<h5 class="my-0 align-middle">
			Liste des dossiers
		</h5>
		<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDossier">Nouveau dossier</button>
		{% include 'dossier/_partials/dossier_new_modal.html.twig' %}
	</div>

	<div class="card-body d-flex flex-column justify-content-between">

		<table class="table table-responsive table-sm text-white">
			<thead>
				<th>Nom</th>
				<th>Uuid</th>
				<th>Login</th>
				<th>Nombre d'opérations</th>
				<th>Crédit</th>
				<th>Débit</th>
				<th>Solde</th>
				<th>Date de création</th>
			</thead>
			<tbody>
				{% for dossier in dossiers %}
					<tr>
						<th>
							<a href="{{path("app_dossier_detail", {uuid:dossier.uuid})}}">{{dossier.name}}</a>
						</th>
						<td>{{dossier.uuid}}</td>
						<td>{{dossier.login}}</td>
						<td>{{dossier.quantity}}</td>
						<td>{{dossier.credit}}</td>
						<td>{{dossier.debit}}</td>
						<td>{{dossier.balance}}</td>
						<td>
							{{dossier.created_at|date("Y-m-d")}}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
</div>
