<div class="card bg-dark border border-0 rounded-3 shadow-sm text-white-50 h-100 ">

	<div class="card-header d-flex justify-content-between py-3">
		<h5 class="my-0 align-middle">
			Liste des écritures dans le dossier
			{{dossier.name}}
		</h5>
		<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEcriture">Nouveau</button>
		{% include 'dossier/_partials/ecriture_new_modal.html.twig' %}
	</div>
	<div class="card-body d-flex flex-column justify-content-between">

		<table class="table table-responsive table-sm text-white">
			<thead>
				{# <th>Uuid</th> #}
				<th>Label</th>
				<th>Date de l'écriture</th>
				<th>Type</th>
				<th>Montant</th>
				<th>Actions</th>
			</thead>
			<tbody>
				{% for ecriture in ecritures %}
					<tr>
						{# <th>{{ecriture.uuid}}</th> #}
						<th>
							{{ecriture.label}}
						</th>
						<td>{{ecriture.date}}</td>
						<td>{{ecriture.type}}</td>
						<td>{{ecriture.amount}}</td>
						<td>
							<button class="btn btn-info btn-sm" data-form-fetch="{{path('app_ecriture_edit_ajax', {uuid:ecriture.uuid})}}" title="Editer" data-bs-target="#modalEditEcriture" data-bs-toggle="modal">
								<i class="bi bi-pencil"></i>
							</button>
							<a class="text-decoration-none btn btn-danger py-1 px-2" href="{{path('app_ecriture_delete', {uuid:ecriture.uuid})}}" title="Supprimer">
								<i class="bi bi-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>

	</div>
</div>

{% include '_partials/ecriture_edit_modal.html.twig' %}
